<div class="top">
  <%= link_to "Home", root_path %>
  <%= link_to "Blog", articles_path %>
  <% if signed_in? %>
      <%= link_to @current_user.login, current_user %>
      <%= link_to "Sign out", signout_path, method: "delete" %>

  <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <li><%= link_to "Sign up", signup_path %></li>
  <% end %>
</div>